# Name: Drop analysis# Author: Aurelien Stalder# Generate the jar file using: "jar cvfM drop_analysis.jar *.class imageaccess/*.class *.config"# name of the jar file must have an underscore to be recognised by imagejPlugins, "Drop analysis - DropSnake", DropSnake_Plugins, "Drop analysis - LB-ADSA", LBADSA_